*{
    font-family: "微软雅黑";
    font-size: 18px;
}

table{
    margin-top: 150px;
}

tr{
    height: 50px;
}

a{
    text-decoration: none;
}

.reg{
    border-radius: 10px;
    background-color: darkgreen;
}

.userName{
    background-image: url(../img/user.JPG);
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
    height: 28px;
    padding-left: 30px;
    border: 1px solid #ccc;
    outline: none;
}
.userName:hover{
    border: 1px solid #8a2be2;
}

.password{
    background-image: url(../img/password.JPG);
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
    height: 28px;
    padding-left: 30px;
    border: 1px solid #ccc;
    outline: none;
}
.password:hover{
    border: 1px solid #8a2be2;
}

.confirm{
    background-image: url(../img/password.JPG);
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
    height: 28px;
    padding-left: 30px;
    border: 1px solid #ccc;
    outline: none;
}
.confirm:hover{
    border: 1px solid #8a2be2;
}